<div class="container">
    <div class="columns is-centered">
        <div class="box column is-one-third">
            <h1 class="title has-text-centered">Password Generator</h1>
            
            <div class="field">
                <label>Length:</label>
                <input class="input"  type="number" min="1" (input)="onChangeLength($event.target.value)">
            </div>
            
            <div class="field">
                <div class="control">
                    <label class="checkbox"><input type="checkbox" (change)="onChangeIncludeLetters()"> Include letters</label>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <label class="checkbox"><input type="checkbox" (change)="onChangeIncludeNumbers()"> Include numbers</label>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <label class="checkbox"><input type="checkbox" (change)="onChangeIncludeSymbols()"> Include symbols</label>
                </div>
            </div>
            
            <button class="button is-link is-fullwidth" (click)="onButtonClick()" [disabled]="!(this.passwordLength && (this.includeLetters || this.includeNumbers || this.includeSymbols))">Generate!</button>    <!-- Event Binding Syntax & Property Binding Syntax -->
            
            <div class="box" *ngIf="password">
                <label>Your password:</label>
                <input class="input" type="text" [value]="password">   <!-- Property Binding Syntax -->    <!-- The value keyword is an HTML attribute! -->     <!-- You could instead do [value]="getPassword()" if you have that method defined in the TS file. This is just to show that with Property Binding Syntax we can not only call a class property, but also a method -->
            </div>
        </div>
    </div>
</div>

<!-- {{ password }} -->    <!-- Interpolation Syntax (the curly braces thing)... -->
<!-- {{ getName() }} -->     <!-- ... with Interpolation Syntax it's again possible to call class properties or methods. -->
